{% extends "invitation_template.html" %} {% block links %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
   
    />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/4/style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
{% endblock %} {% block content %}
    <div class="container-fluid-fluid" >
      <header>
          <!-- Background image -->
          <div
            class="text-center  py-5"
            style="
            
              background: url('./static/4/graphics/slide-day-2.jpg') no-repeat fixed;
              background-size: cover;
              background-position: top;
            
            "
          >
            <div
              class="d-flex justify-content-center align-items-center h-100 header my-5 py-5"
            >
              <div class="text-white py-5 my-5"  >
                <h1 class="mb-3 display-1 px-5" style="font-family: 'Cinzel', serif !important;">Christin & Thomas</h1>
                <h4 class="mb-3 display-6 fw-bold" style="font-family: 'Cinzel Decorative', cursive;">
                  06 / 06 / 2020
                </h4>
              </div>
            </div>
          </div>
          <!-- Background image -->
        </header>  

        <div class="container-fluid bg-white">
          <div class="row ">
            <div class=" col-lg-4 py-2 " style="background-color:#585858;">
                 <h2 class="text-center float-end pt-4" style="color: #ffff;font-family: 'Cinzel', serif !important;">
                  <img  src="./static/4/graphics/icon-14.png" style="width:50px; height:50px;" alt="">
                  MISSING DAYS TO 
                  <br>
                  WEDDING
                </h2>
              </h3> 
            </div>
              <div class="py-2 text-center wedding col-lg-2 col-md-6 col-6" style="font-family: 'Cinzel', serif !important;"><h1 class="display-2"style="color: #ffffff; font-family: 'Cinzel', serif !important;">00</h1><p class="fs-5 text-uppercase"style="color: #ffffff;font-family: 'Cinzel', serif !important;">days</p></div>
              <div class="py-2 text-center wedding col-lg-2 col-md-6 col-6"><h1 class="display-2"style="color: #ffffff; font-family: 'Cinzel', serif !important;">00</h1><p class="fs-5 text-uppercase"style="color: #ffffff;font-family: 'Cinzel', serif !important;">hours</p></div>
              <div class="py-2 text-center wedding col-lg-2 col-md-6 col-6"><h1 class="display-2"style="color: #ffffff; font-family: 'Cinzel', serif !important;">00</h1><p class="fs-5 text-uppercase"style="color: #ffffff;font-family: 'Cinzel', serif !important;">minutes</p></div>
              <div class="py-2 text-center wedding col-lg-2 col-md-6 col-6"><h1 class="display-2"style="color: #ffffff; font-family: 'Cinzel', serif !important;">00</h1><p class="fs-5 text-uppercase"style="color: #ffffff;font-family: 'Cinzel', serif !important;">seconds</p></div>
          </div>
      </div>
      <div
      class="text-center bg-image container-fluid "
      style="
        background: url('./static/4/graphics/parallax-day-2.jpg') no-repeat fixed;
        background-size: cover;
        background-position: bottom;
        height: auto;
      "
    >
    <div class="row mx-auto">
      <div class="col-lg-4 col-12 bg-white pb-5 my-5 mx-auto">
        <h4 class=" display-8 pt-5 text-center px-3" style="color: #a4a4a4;" >Thomas Mcnroo</h4>
        <p class="text-center mt-3 fs-5 px-3" style="color: #a4a4a4;">THE GROOM</p>
        <img class="img-flud" src="./static/4/graphics/icon-20.png" style="width: 30px; height: 30px;" alt="">
        <p class="text-center fs-8 " style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Vivamus feugiat purus sed tempus ornare. Sed convallis eu <br> orci ut sodales. Nam rhoncus laoreet elit, a condimentum 
          <br> augue tempor vitae in faucibus cura sit amet consect.</p>
          <p class="text-center fs-8 " style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Vivamus feugiat purus sed tempus ornare. Sed convallis eu <br> orci ut sodales. Nam rhoncus laoreet elit, a condimentum 
         <br> augue tempor vitae in faucibus cura sit amet consect.</p>
         <div>
          <ul class="social-network social-circle">
            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-google-plus"></i></a></li>            
            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-12 bg-white pb-5 my-5 mx-auto">
        <h4 class=" display-8 pt-5 text-center px-3" style="color: #a4a4a4;" >Christin Martin</h4>
        <p class="text-center mt-3 fs-5 px-3" style="color: #a4a4a4;">THE BRIDE</p>
        <img class="img-flud" src="./static/4/graphics/icon-11.png"style="width: 30px; height: 30px;" alt="">
        <p class="text-center fs-8 " style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Vivamus feugiat purus sed tempus ornare. Sed convallis eu <br> orci ut sodales. Nam rhoncus laoreet elit, a condimentum 
          <br> augue tempor vitae in faucibus cura sit amet consect.</p>
          <p class="text-center fs-8 py-3" style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br> Vivamus feugiat purus sed tempus ornare. Sed convallis eu <br> orci ut sodales. Nam rhoncus laoreet elit, a condimentum 
            <br> augue tempor vitae in faucibus cura sit amet consect.</p>
            <div>
              <ul class="social-network social-circle">
                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-google-plus"></i></a></li>            
                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
              </ul>
            </div>
      </div>
    </div>
  </div>



<!-- venue -->
<div class="container-fluid-fluid text-center" style="font-family: 'Cinzel Decorative', sans-serif;">
  <div class="row g-0">
    <div class="col-lg-6 col-12 img" style="overflow: hidden;">
      <img class="img-fluid w-100 img" src="./static/4/graphics/day-img2.jpg" alt="">
    </div>
    <div class="col-lg-6 col-12 px-5" style="background-color: #93bbb4;">
      <h4 class=" display-8 pt-5 text-start px-3" style="color: #ffffff;" >Restaurant Golf Club</h4>
      <p class="text-start mt-3 fw-bold fs-4 px-3" style="color: #ffffff;">13:30 pm In The Garden</p>
      <p class="text-start px-3" style="color: #ffffff;">____</p>
      <p class="text-start fs-8 px-3" style="color: #ffffff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales. Nam rhoncus laoreet elit, a condimentum augue tempor vitae in faucibus cura. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales. Nam rhoncus laoreet elit, a condimentum augue tempor.</p>
    </div>
    <div class="col-lg-6 col-12 px-5" style="background-color: #565656;">
      <h4 class=" display-8 pt-5 text-start px-3" style="color: #ffffff;" >Church Of San Paul</h4>
      <p class="text-start mt-3 fw-bold fs-4 px-3" style="color: #ffffff;">11:30 am In The Square</p>
      <p class="text-start px-3" style="color: #ffffff;">____</p>
      <p class="text-start fs-8 px-3" style="color: #ffffff;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales. Nam rhoncus laoreet elit, a condimentum augue tempor vitae in faucibus cura. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales. Nam rhoncus laoreet elit, a condimentum augue tempor.</p>
    </div>
    <div class="col-lg-6 col-12 img" style="overflow: hidden;">
      <img class="img-fluid w-100 img" src="./static/4/graphics/day-img1.jpg" alt="">
    </div>
  </div>
</div>



<!-- Event -->
<div class="container">
<h2 class="text-center py-3" style="color: #a4a4a4; font-family: 'Cinzel', serif !important;">STAY INFORMED WITH US</h2>
<p class="text-center py-3">WEDDING NEWS</p>
<div class="row">
    <div class="col-lg-3 col-12 img text-center mx-auto px-4" style="background: url('./static/4/graphics/blog-img3.jpg') no-repeat;">
      <div class="bg-white my-4  py-4">
        <h4 class=" display-8 pt-5 px-3" style="color: #a4a4a4;" >Flower Design</h4>
        <p class="mt-3 fs-6 px-3" style="color: #a4a4a4;">October 13, 2016</p>
        <p class="px-3" style="color: #a4a4a4;">____</p>
        <p class=" px-3 " style="color: #a4a4a4;">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. <br> Vivamus feugiat purus sed.</p>
        <a class="btn btn-secondary px-3 mx-3 my-3" href="#" role="button">Read more</a>
      </div>
    </div>
    <div class="col-lg-3 col-12 img text-center mx-auto px-4" style="background: url('./static/4/graphics/blog-img1.jpg') no-repeat;">
      <div class="bg-white my-4 py-4">
      <h4 class=" display-8 pt-5 px-3" style="color: #a4a4a4;" >We Love Passion</h4>
      <p class="mt-3 fs-6 px-3" style="color: #a4a4a4;">October 13, 2016</p>
      <p class="px-3" style="color: #a4a4a4;">____</p>
      <p class=" px-3" style="color: #a4a4a4;">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. <br> Vivamus feugiat purus sed.</p>
      <a class="btn btn-secondary px-3 mx-3 my-3" href="#" role="button">Read more</a>
    </div>
    </div>
    <div class="col-lg-3 col-12 img text-center mx-auto px-4" style="background: url('./static/4/graphics/blog-img9.jpg') no-repeat;">
      <div class="bg-white my-4 py-4">
      <h4 class=" display-8 pt-5 px-3" style="color: #a4a4a4;" >Locations</h4>
      <p class="mt-3 fs-6 px-3" style="color: #a4a4a4;">October 13, 2016</p>
      <p class="px-3" style="color: #a4a4a4;">____</p>
      <p class=" px-3" style="color: #a4a4a4;">Lorem ipsum dolor sit amet, <br> consectetur adipiscing elit. <br> Vivamus feugiat purus sed.</p>
      <a class="btn btn-secondary px-3 mx-3 my-3" href="#" role="button">Read more</a>
    </div>
    </div>
    
</div>
<div class="text-center mt-3">

  <a class="btn btn-secondary px-3 mx-3 my-3" href="#" role="button">VIEW ALL POSTS</a>
</div>
</div>

<!-- Oranizagion -->
<div class="container-fluid ">
  <h4 class=" display-8 pt-5 px-3 text-center" style="color: #a4a4a4;font-family: 'Cinzel', serif !important;" >Orangization</h4>
    <p class="display-8 pt-3 px-3 text-center">WEDDING</p>
    <div class="row mx-auto">
      <div class="col-lg-6 col-12 text-center pb-5" style="overflow: hidden;" > 
        <img class="w-75 h-85" src="./static/4/graphics/day-img-2.png" alt="image-responsive">
        <h4 class=" display-8 pt-5 " style="color: #a4a4a4;" >WEDDING MENU</h4>
      <p style="color: #a4a4a4;">____</p>
      <p style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Vivamus <br>feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales.<br> Nam rhoncus laoreet elit, a condimentum augue tempor vitae in</p>
      </div>
      <div class="col-lg-6 col-12">
      <div>
       <h4 class="text-start display-8" style="color: #a4a4a4;" >Wedding Ceremony</h4>
       <p class="text-start"style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Vivamus <br>feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales.<br> Nam rhoncus laoreet elit, a condimentum augue tempor vitae in</p>
      </div>
      <div>
        <h4 class="text-start display-8" style="color: #a4a4a4;" >Lunch Time</h4>
        <p class="text-start"style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Vivamus <br>feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales.
       </div>
       <div>
        <h4 class="text-start display-8" style="color: #a4a4a4;" >Party with Music
        </h4>
        <p class="text-start"style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Vivamus <br>feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales.<br> Nam rhoncus laoreet elit, a condimentum augue tempor vitae in</p>
       </div>
       <div>
        <h4 class="text-start display-8" style="color: #a4a4a4;" >Cake Cutting</h4>
        <p class="text-start"style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Vivamus <br>feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales.<br> Nam rhoncus laoreet elit, a condimentum augue tempor vitae in</p>
       </div>
    </div>
</div>
</div>
<!-- Moment -->
<div class="container-fluid">
  <div class="row ">
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/4/graphics/gallery-day-1.jpg"  alt=""></div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/4/graphics/gallery-day-2.jpg" alt=""></div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/4/graphics/gallery-day-3.jpg" alt=""></div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/4/graphics/gallery-day-4.jpg" alt=""></div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/4/graphics/gallery-day-5.jpg" alt=""></div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/4/graphics/gallery-day-6.jpg" alt=""></div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/4/graphics/gallery-day-7.jpg" alt=""></div>
      <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/4/graphics/gallery-day-8.jpg" alt=""></div>
  </div>
</div>

<!-- About us -->
<div class ="container-fluid-fluid">
  <h4 class=" display-6 text-center mt-5" style="color: #a4a4a4;" >OUR BEST FRIENDS EVER
  </h4>
  <p class="text-center mb-5"style="color: #a4a4a4;">THANKS FOR BEING THERE</p>
  <div class="row g-0 mx-auto py-5" >
    <div class="col-lg-6 col-12" >
      <div style="overflow: hidden;">
        <img class="img-fluid" src="./static/4/graphics/day-team-2.jpg" alt="">
      </div>
      <h4 class=" display-8 pt-5 text-center " style="color: #a4a4a4;" >BRIDES</h4>
      <p class="text-center" style="color: #a4a4a4;">____</p>
      <p class="text-center" style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Vivamus <br>feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales.<br> Nam rhoncus laoreet elit, a condimentum augue tempor vitae in</p>
      <div class="text-center">
        <ul class="social-network social-circle">
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-google-plus"></i></a></li>            
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-12" style="overflow: hidden;">
      <div style="overflow: hidden;">
        <img class="img-fluid" src="./static/4/graphics/day-team-1.jpg" alt="">
      </div>
      <h4 class=" display-8 pt-5 text-center " style="color: #a4a4a4;" >GROOM</h4>
      <p class="text-center" style="color: #a4a4a4;">____</p>
      <p class="text-center" style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.  Vivamus <br>feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales.<br> Nam rhoncus laoreet elit, a condimentum augue tempor vitae in</p>
      <div class="text-center">
        <ul class="social-network social-circle">
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-google-plus"></i></a></li>            
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>




<!-- Our story -->
<div class="container-fluid py-5" style="background-color: #565656;"> 
  <h3 class="text-center"style="color: #ffffff;">“ The best gift is your patecipation, thanks to all ”</h3>
    <p class="text-center"style="color: #ffffff;">Christin & Thomas
    </p>
</div>
<div class="row">
        <div class="col-lg-6 col-12"style="overflow: hidden;">
          <img class="img-fluid" src="./static/4/graphics/parallax-day-3.jpg"  alt="">
        </div>
        <div class="col-lg-6 col-12">
          <h4 class=" display-8 pt-5 text-start px-3" style="color: #a4a4a4;" >THE RECEPTION</h4>
          <p class="text-start mt-3 fs-4 px-3" style="color: #a4a4a4;">ALL INFO</p>
          <p class="text-start px-3" style="color: #a4a4a4;">____</p>
          <p class="text-start fs-8 px-3" style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales. Nam rhoncus laoreet elit, a condimentum augue tempor vitae in faucibus curabitur in faucibus curabitur . Olor sit amet, consectetur adipiscing elit.</p>
          <p class="text-start fs-8 px-3" style="color: #a4a4a4;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat purus sed tempus ornare. Sed convallis eu orci ut sodales. Nam rhoncus laoreet elit, a condimentum augue tempor vitae in faucibus curabitur in faucibus curabitur . Olor sit amet, consectetur adipiscing elit.</p>
          <a class="btn btn-secondary px-3 mx-3 my-3" href="#" role="button">Contact us</a>
        </div>
        </div>
</div>
</div>

<!-- contact us -->
<div class="container-fluid text-center py-5 "  
  style="
  background: url('./static/4/graphics/parallax-day-4.jpg') no-repeat fixed;
  background-size: 100% 100%;
  background-position: top center;
  height: auto;
">
     
      <form style="width: 60%" class="mx-auto p-5 bg-light my-5">
        <h2  style="color: #a4a4a4; font-family: 'Cinzel', serif !important;">Contact us</h2>
        <img class="text-center" src="./static/4/graphics/unknown.png" alt="">
        <p class="text-center py-2" style="color: #a4a4a4;">____</p>
        <!-- Name input -->
        <div class="form-outline mb-4 mx-auto ">
          <input
            type="text"
            id="form4Example1"
            class="form-control"
            placeholder="Name"
            style="border: 2px solid #a4a4a4;"
          />
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input
            type="email"
            id="form4Example2"
            class="form-control"
            placeholder="Email address"
            style="border: 2px solid#a4a4a4;"
          />
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
          <textarea
            class="form-control"
            id="form4Example3"
            rows="4"
            placeholder="Message"
            style="border: 2px solid #a4a4a4;"
          ></textarea>
        </div>

        <!-- Submit button -->
        <a
          class="btn btn-outline-light btn-lg  px-4 py-2"
          href="#!"
          role="button"
          style="color: #ffffff; background: #424141;"
          >Send me</a
        >
      </form>
      </div>
<!-- footer -->
{% endblock %} {%block footer %}
<footer class="container-fluid py-5" style="background-color: #505050;"> 
  <h3 class="text-center"style="color: #ffffff; font-family: 'Cinzel', serif !important;">Christine Martin & Thomas Mcnroo</h3>
    <p class="text-center"style="color: #ffffff; font-family: 'Cinzel', serif !important;">MADE WITH LOVE IN NEW YORK
    </p>
</footer>

{% endblock %}
