{% extends "invitation_template.html" %} {% block links %}
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
  rel="stylesheet"

/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.gstatic.com" />
<link
  href="https://fonts.googleapis.com/css2?family=Lora&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>
<link rel="stylesheet" href="./static/6/style.css" />

{% endblock %} {% block content %}
<div class="container-fluid-fluid">
  <header class="mx-auto">
    <!-- Background image -->
    <div
      class="p-5 text-center img-responsive container-fluid"
      style="
        background: url('./static/6/graphics/people.jpg') fixed;
        background-repeat: no-repeat;
        height: 100vh;
        background-position: top;
      "
    >
      <div
        class="d-flex justify-content-center align-items-center h-100 header"
      >
        <div class="text-white">
          <h1
            class="mb-5 display-1 ls-1"
            style="
              font-weight: bold;
              color: #ffffff;
              font-family: 'Dancing Script', cursive;
            "
          >
            Jeniffer & Micheal
          </h1>
          <h4 style="font-family: 'Lora', serif">
            We are getting married on April 19, 2019
          </h4>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>
  <!-- header -->

  <!-- Groom & Bride & our story  -->

  <div class="container-fluid text-center my-5 pt-5" id="about">
    <h1
      class="fw-bold display-2"
      style="font-family: 'Dancing Script', cursive"
    >
      Groom & Bride
    </h1>
    <p>
      In recent years, an alligator is an anthony’s event. We know that authors
      often misinterpret the package <br />
      as a cystoid puppy, when in actuality it feels more like a hefty brown.
      The nervy doll reveals itself as <br />
      an endless colony to those who look. ships are licensed ashtraies.
    </p>
  </div>
  <div class="container-fluid row text-center mx-auto gx-0">
    <div class="card mx-auto gx-0 col-lg-6" style="width: 30rem">
      <img
        class="card-img-top"
        src="./static/6/graphics/erik-brolin.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5
          class="card-title fw-bold display-6"
          style="font-family: 'Dancing Script', cursive"
        >
          Micheal Watts
        </h5>
        <p class="card-text">
          In recent years, an alligator is an anthony’s event. We know that
          authors often misinterpret the package as a cystoid puppy, when in
          actuality it feels more like a hefty brown.
        </p>
        <div class="row">
          <div>
            <ul class="social-network social-circle">
              <li>
                <a href="#" class="icoFacebook" title="Facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoTwitter" title="Twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoGoogle" title="Google +"
                  ><i class="fa fa-google-plus"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card mx-auto gx-0 col-lg-6 gx-0" style="width: 30rem">
      <img
        class="card-img-top"
        src="./static/6/graphics/weddin.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5
          class="card-title fw-bold display-6"
          style="font-family: 'Dancing Script', cursive"
        >
          Jeniffer Hugoris
        </h5>
        <p class="card-text">
          In recent years, an alligator is an anthony’s event. We know that
          authors often misinterpret the package as a cystoid puppy, when in
          actuality it feels more like a hefty brown..
        </p>
        <div class="row">
          <div>
            <ul class="social-network social-circle">
              <li>
                <a href="#" class="icoFacebook" title="Facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoTwitter" title="Twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoGoogle" title="Google +"
                  ><i class="fa fa-google-plus"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- our story -->

    <div class="container" id="ourLove">
      <h1
        class="fw-bold display-2 pt-5"
        style="font-family: 'Dancing Script', cursive"
      >
        Our Story
      </h1>
      <p>
        In recent years, an alligator is an anthony’s event. We know that
        authors often misinterpret the package <br />
        as a cystoid puppy, when in actuality it feels more like a hefty brown.
        The nervy doll reveals itself as <br />
        an endless colony to those who look. ships are licensed ashtraies.
      </p>
      <div class="row mx-auto gx-0">
        <div
          class="row mx-auto mt-5"
          style="border: 1px groove rgba(0, 0, 0, 0.17)"
        >
          <div class="col-lg-6 col-md-4 col-sm-12 col-12 mx-auto g-0">
            <img
              class="img-responsive h-70 w-75 p-4"
              src="./static/6/graphics/portrait.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 col-md-8 col-sm-12 col-12 mx-auto mt-5 pt-5">
            <p class="fs-5" style="color: #dba08b">23rd July, 2016</p>
            <h3
              class="fw-bold display-10"
              style="font-family: 'Dancing Script', cursive"
            >
              First time we met
            </h3>
            <p>
              In recent years, an alligator is an anthony’s event. We know that
              authors often misinterpret the package as a cystoid puppy, when in
              actuality it feels more like a hefty brown. The nervy doll reveals
              itself as an endless colony to those who look. ships are licensed
              ashtraies.
            </p>
          </div>
        </div>
        <div
          class="row mx-auto mt-5"
          style="border: 1px groove rgba(0, 0, 0, 0.17)"
        >
          <div class="col-lg-6 col-md-8 col-sm-12 col-12 mx-auto mt-5 pt-5">
            <p class="fs-5" style="color: #dba08b">23rd July, 2016</p>
            <h3
              class="fw-bold display-10"
              style="font-family: 'Dancing Script', cursive"
            >
              First time we met
            </h3>
            <p>
              In recent years, an alligator is an anthony’s event. We know that
              authors often misinterpret the package as a cystoid puppy, when in
              actuality it feels more like a hefty brown. The nervy doll reveals
              itself as an endless colony to those who look. ships are licensed
              ashtraies.
            </p>
          </div>
          <div class="col-lg-6 col-md-4 col-sm-12 col-12 mx-auto g-0">
            <img
              class="img-responsive h-70 w-75 p-4"
              src="./static/6/graphics/heart.jpg"
              alt=""
            />
          </div>
        </div>
        <div
          class="row mx-auto mt-5"
          style="border: 1px groove rgba(0, 0, 0, 0.17)"
        >
          <div class="col-lg-6 col-md-4 col-sm-12 col-12 mx-auto g-0">
            <img
              class="img-responsive h-70 w-75 p-4"
              src="./static/6/graphics/jeremy-wong-weddings.jpg"
              alt=""
            />
          </div>
          <div class="col-lg-6 col-md-8 col-sm-12 col-12 mx-auto mt-5 pt-5">
            <p class="fs-5" style="color: #dba08b">23rd July, 2016</p>
            <h3
              class="fw-bold display-10"
              style="font-family: 'Dancing Script', cursive"
            >
              She said "Yes"​
            </h3>
            <p>
              In recent years, an alligator is an anthony’s event. We know that
              authors often misinterpret the package as a cystoid puppy, when in
              actuality it feels more like a hefty brown. The nervy doll reveals
              itself as an endless colony to those who look. ships are licensed
              ashtraies.
            </p>
          </div>
        </div>
        <div
          class="row mx-auto mt-5"
          style="border: 1px groove rgba(0, 0, 0, 0.17)"
        >
          <div class="col-lg-6 col-md-8 col-sm-12 col-12 mx-auto mt-5 pt-5"  id="preparation">
            <p class="fs-5" style="color: #dba08b">23rd July, 2016</p>
            <h3
              class="fw-bold display-10"
              style="font-family: 'Dancing Script', cursive"
            >
              We are getting married
            </h3>
            <p>
              In recent years, an alligator is an anthony’s event. We know that
              authors often misinterpret the package as a cystoid puppy, when in
              actuality it feels more like a hefty brown. The nervy doll reveals
              itself as an endless colony to those who look. ships are licensed
              ashtraies.
            </p>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12 mx-auto g-0">
            <img
              class="img-responsive h-70 w-75 p-4"
              src="./static/6/graphics/tom-the-photographer.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <!-- Services -->

    <div class="text-center" id="services">
      <h1
        class="mb-3 my-5 fw-bold display-2 pt-5"
        style="color: #000000; font-family: 'Dancing Script', cursive"
      >
        Our Services
      </h1>

      <p class="px-5 pb-5">
        Spark a little inspo with these stores, whether you’re upgrading or just
        starting out.
      </p>
    </div>
    <div class="row text-center container mx-auto py-4">
      <div class="col-lg-2 col-md-6 col-12 mb-4 mx-auto">
        <a href="#" class="d-block h-100 w-80">
          <img
            class="img-container img-thumbnail"
            src="./static/6/graphics/logo6@2x.png"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mb-4 mx-auto">
        <a href="#" class="d-block h-100 w-80">
          <img
            class="img-container img-thumbnail"
            src="./static/6/graphics/logo3@2x.png"
            alt=""
          />
        </a>
      </div>

      <div class="col-lg-3 col-md-6 col-12 mb-4 mx-auto">
        <a href="#" class="d-block h-100 w-80">
          <img
            class="img-container-fluid img-thumbnail"
            src="./static/6/graphics/logo4@2x.png"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mb-4 mx-auto">
        <a href="#" class="d-block h-100 w-80">
          <img
            class="img-container-fluid img-thumbnail"
            src="./static/6/graphics/logo5@2x.png"
            alt=""
          />
        </a>
      </div>
      <div class="col-lg-3 col-md-6 col-12 mb-4 mx-auto">
        <a href="#" class="d-block h-100 w-80">
          <img
            class="img-container-fluid img-thumbnail"
            src="./static/6/grapics/logo7@2x.png"
            alt=""
          />
        </a>
      </div>
    </div>

    <!-- Moment -->
    <div class="container-fluid">
      <h1
        class="mb-3 mt-5 fw-bold display-2 pt-5"
        style="color: #000000; font-family: 'Dancing Script', cursive"
      >
        Moments
      </h1>
      <p class="pb-5">
        In recent years, an alligator is an anthony’s event. We know that
        authors often misinterpret the package <br />
        as a cystoid puppy, when in actuality it feels more like a hefty brown.
        The nervy doll reveals itself as <br />
        an endless colony to those who look. ships are licensed ashtraies.
      </p>
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0">
          <img
            class="img-fluid"
            src="./static/6/graphics/allef-vinicius-768x494.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0">
          <img
            class="img-fluid"
            src="./static/6/graphics/people-enjoying-768x494.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0">
          <img
            class="img-fluid"
            src="./static/6/graphics/photos-by-lanty-768x494.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0">
          <img
            class="img-fluid"
            src="./static/6/graphics/cody-black-768x494.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0">
          <img
            class="img-fluid"
            src="./static/6/graphics/jahaziel-esqueche-768x494.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0">
          <img
            class="img-fluid"
            src="./static/6/graphics/dani-vivanc-768x494.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0">
          <img
            class="img-fluid"
            src="./static/6/graphics/tyler-nix-768x494.jpg"
            alt=""
          />
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-12 g-0">
          <img
            class="img-fluid"
            src="./static/6/graphics/portrai-768x494.jpg"
            alt=""
          />
        </div>
      </div>
    </div>

    <!-- contact us -->
    <div
      class="container-fluid text-center"
      style="
        background-image: url('./static/6/grapics/background4.png');
        background-position: 100% 100%;
      " id="contact"
    >
      <h1
        class="mb-3 my-5 fw-bold display-2 pt-5"
        style="color: #000000; font-family: 'Dancing Script', cursive"
      >
        Contact us
      </h1>
      <p class="pb-4">
        In recent years, an alligator is an anthony’s event. We know that
        authors often misinterpret the package <br />
        as a cystoid puppy, when in actuality it feels more like a hefty brown.
      </p>
      <form style="width: 50%" class="mx-auto">
        <!-- Name input -->
        <div class="form-outline mb-4 mx-auto">
          <input
            type="text"
            id="form4Example1"
            class="form-control"
            placeholder="Name"
            style="border: 2px solid #333333"
          />
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input
            type="email"
            id="form4Example2"
            class="form-control"
            placeholder="Email address"
            style="border: 2px solid#333333"
          />
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
          <textarea
            class="form-control"
            id="form4Example3"
            rows="4"
            placeholder="Message"
            style="border: 2px solid #333333"
          ></textarea>
        </div>

        <!-- Submit button -->
        <a
          class="btn btn-outline-light bg-dark btn-lg btnheader px-4 py-2"
          href="#!"
          role="button"
          style="color: #ffffff"
          >Send me</a
        >
      </form>
    </div>

    <!-- footer -->
    {% endblock %} {%block footer %}
    <footer
      class="text-center text-lg-start mt-2"
      style="background-color: #000000"
    >
      <div class="text-center p-3" style="color: #ffff">
        Copyright &copy; 2021 Zakra Wedding. Powered by Zakra
      </div>
      <!-- Copyright -->
    </footer>
  </div>

  {% endblock %}
</div>
