
{% extends "invitation_template.html" %} {% block links %}
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
  
    />
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/9/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/9/style.css">


    {% endblock %} {% block content %}
    <div class="container-fluid-fluid">
        <header>
            <!-- Background image -->
            <div
              class="text-center bg-image container-fluid"
              style="
                background: url('./static/9/graphics/slider1.jpg') no-repeat ;
                background-size: cover;
                background-position: bottom;
                height: 100vh;
              "
            >
              <div
                class="d-flex justify-content-center align-items-center h-100 header"
              >
              <img class="image-fluid w-15 h-50" src="./static/9/graphics/slide-caption-left.png" alt="">
                <div class="text-white">
                  <h1 class="mb-3 display-1 fw-bold" style="color: #f08080; ">A Celebration Of Love</h1>
                  <h4 class="mb-3 display-4  fw-bold">
                    We hope to see you soon
                  <h4/>
                </div>
                <img class="image-fluid w-20 h-50 " src="./static/9/graphics/slide-caption-right.png" alt="">
              </div>
            </div>
            <!-- Background image -->
          </header>  
    <!-- header -->

<div class="text-center bg-image container-fluid pb-5" id="about"
style="
  background: url('./static/9/graphics/rose-bg.jpg') no-repeat fixed;
  background-size: cover;
  background-position: bottom;
  height: auto;
">
<h1 class="text-center display-1 my-5"style="color: #6b8181; font-family: 'Dancing Script', cursive;">Future Mr & Mrs</h1>
<img class="text-center img-fluid" src="./static/9/graphics/unknown.png" alt="">
<p class="text-center fs-4 my-5"style="color: #6b8181; ">And now these three remain: faith, hope and love. But the greatest of these is love. How we <br> decided that we should be together forever!</p>
<div class="row">
    <div class="col-lg-6 col-md-6 col-12 my-2">
      <!-- <img src="./static/9/graphics/border-frame-right.png" alt=""> -->
      <img class="img-fluid bg-light" src="./static/9/graphics/groom.jpg" alt="">
      <!-- <img src="./static/9/graphics/border-frame-left.png" alt=""> -->
      <p class="text-center mt-5 fw-bold fs-4" style="color: #f08080;">GROOM</p>
      <h2 class="py-2 display-3 text-center " style="color: #6b8181; font-family: 'Dancing Script', cursive;">Jason Thomas</h2>
      <p class="text-center fs-lg-5" style="color: #888888;">Jason was born and raised in Northern Virginia and went to <br> Cornell where he studied engineering. His first job out of school <br> landed him back in the D.C. area and he is been working at <br> his company for the past 10 years.</p>
      <div>
        <ul class="social-network social-circle">
          <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12 my-2">
      <img class="img-fluid  bg-light" src="./static/9/graphics/bride.jpg" alt="">
      <p class="text-center mt-5 fw-bold fs-4" style="color: #f08080;">BRIDE</p>
      <h2 class="py-2 display-3 text-center " style="color: #6b8181; font-family: 'Dancing Script', cursive;">Elaina Johnson</h2>
      <p class="text-center fs-5" style="color: #888888;">Elaina was born and raised in San Diego, California.She  <br> studied nursing at UCLA and took a leap of faith when she  <br> moved to the East Coast to follow her dream job.She loves  <br> sampling every restaurant in their neighborhood.</p>
      <div>
        <ul class="social-network social-circle">
          <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
    </div>
</div>
</div>



<div class="container-fluid-fluid bg-white py-5">
    <div class="py-5 text-center">
        <h1 class="pb-5 display-3 fw-bold text-center " style="color: #6b8181; font-family: 'Dancing Script', cursive;">The Wedding Day</h1>
        <img class="text-center" src="./static/9/graphics/unknown.png" alt="">
    </div>
    <div class="row d-flex justify-content-center align-items-center g-0 text-center py-5 ">
        <div class="wedding col-lg-2 col-md-6 col-6"><h1 class="display-2">00</h1><p class="fs-5 text-uppercase">weeks</p></div>
        <div class="wedding col-lg-2 col-md-6 col-6"><h1 class="display-2">00</h1><p class="fs-5 text-uppercase">days</p></div>
        <div class="wedding col-lg-2 col-md-6 col-6"><h1 class="display-2">00</h1><p class="fs-5 text-uppercase">hours</p></div>
        <div class="wedding col-lg-2 col-md-6 col-6"><h1 class="display-2">00</h1><p class="fs-5 text-uppercase">minutes</p></div>
        <div class="wedding col-lg-2 col-md-6 col-6"><h1 class="display-2">00</h1><p class="fs-5 text-uppercase">seconds</p></div>
    </div>
</div>


<!-- our love story -->
<div class="container-fluid bg-image"
  style="
  background: url('./static/9/graphics/flower-bg.jpg') no-repeat fixed;
  background-size: cover;
  background-position: bottom;
  height: auto;
">
  <div class="py-5 text-center" id="ourLove">
    <h1 class="pb-5 display-3 fw-bold text-center " style="color: #6b8181; font-family: 'Dancing Script', cursive;">Our Story</h1>
    <img class="text-center" src="./static/9/graphics/unknown.png" alt="">
    <p class="fs-5 pt-4" style="color: #6b8181;">How We Met</p>
</div>

<div class="row">
    <div class="col-lg-5 mx-auto g-0 col-md-12 col-12 m-3" style="background-color: #243030; border-radius: 22px;">
      <h1 class="pt-5 display-6 fw-bold text-center " style="color: #f08080; font-family: 'Dancing Script', cursive;">First Meet</h1>
      <p class="text-center text-light fs-4 pb-5 px-5 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed cursus ante dapibus diam. 
      </p>
    </div>
    <div class="col-lg-5 mx-auto g-0 col-md-12 col-12 m-3" style="background-color: #243030; border-radius: 22px;">
      <h1 class="pt-5 display-6 fw-bold text-center " style="color: #f08080; font-family: 'Dancing Script', cursive;">First Kiss</h1>
      <p class="text-center text-light fs-4 pb-5 px-5 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed cursus ante dapibus diam. 
      </p>
    </div>
    <div class="col-lg-5 mx-auto g-0 col-md-12 col-12 m-3" style="background-color: #243030; border-radius: 22px;">
      <h1 class="pt-5 display-6 fw-bold text-center " style="color: #f08080; font-family: 'Dancing Script', cursive;">First "I Love You"</h1>
      <p class="text-center text-light fs-4 pb-5 px-5 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed cursus ante dapibus diam. 
      </p>
    </div>
    <div class="col-lg-5 mx-auto g-0 col-md-12 col-12 m-3" style="background-color: #243030; border-radius: 22px;">
      <h1 class="pt-5 display-6 fw-bold text-center " style="color: #f08080; font-family: 'Dancing Script', cursive;">Living together</h1>
      <p class="text-center text-light fs-4 pb-5 px-5 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed cursus ante dapibus diam. 
      </p>
    </div>
    <div class="col-lg-5 mx-auto g-0 col-md-12 col-12 m-3" style="background-color: #243030; border-radius: 22px;">
      <h1 class="pt-5 display-6 fw-bold text-center " style="color: #f08080; font-family: 'Dancing Script', cursive;">Proposal</h1>
      <p class="text-center text-light fs-4 pb-5 px-5 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed cursus ante dapibus diam. 
      </p>
    </div>
    <div class="col-lg-5 mx-auto g-0 col-md-12 col-12 m-3" style="background-color: #243030; border-radius: 22px;">
      <h1 class="pt-5 display-6 fw-bold text-center " style="color: #f08080; font-family: 'Dancing Script', cursive;">Marriage</h1>
      <p class="text-center text-light fs-4 pb-5 px-5 mx-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed cursus ante dapibus diam. 
      </p>
    </div>
</div>
</div>


<!-- About us -->
<div class="container-fluid bg-image text-center mt-5" id="preparation"
style="
  background: url('./static/9/graphics/design-bg.jpg') no-repeat fixed;
  background-size: cover;
  background-position: bottom;
  height: auto;
">
  <div class="py-5 text-center">
    <h1 class="py-5 display-3 fw-bold text-center " style="color: #6b8181; font-family: 'Dancing Script', cursive;">Meet The Groomsmen</h1>
    <img class="text-center" src="./static/9/graphics/unknown.png" alt="">
    <p class="text-center fs-5 py-3" style="color: #888888;">Our best friends who will help us and we highly appreciate that!</p>
</div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 g-0">
      <img class="bg-light" src="./static/9/graphics/groomsmen1.jpg" alt="">
      <p class="text-center mt-5 fw-bold fs-2 new" style="color: #f08080;">Albert</p>
      <p class="text-center fs-5" style="color: #888888;">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Vivamus feugiat purus sed <br> tempus ornare.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-12 g-0">
      <img class="bg-light" src="./static/9/graphics/groomsmen2.jpg" alt="">
      <p class="text-center mt-5 fw-bold fs-2 new" style="color: #f08080;">Jason</p>
      <p class="text-center fs-5" style="color: #888888;">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Vivamus feugiat purus sed <br> tempus ornare.</p>
    </div><div class="col-lg-4 col-md-4 col-sm-12 col-12 g-0">
      <img class="bg-light" src="./static/9/graphics/groomsmen3.jpg" alt="">
      <p class="text-center mt-5 fw-bold fs-2 new" style="color: #f08080;">Martin</p>
      <p class="text-center fs-5" style="color: #888888;">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Vivamus feugiat purus sed <br> tempus ornare.</p>
    </div>
  </div>
</div>





<!-- venue -->

<div class="container-fluid text-center bg-image pt-5"
  style="
  background: url('./static/9/graphics/flower-bg.jpg') no-repeat fixed;
  background-size: cover;
  background-position: bottom;
  height: auto;
">

  <h1 class="pb-5 display-3 fw-bold text-center " style="color: #6b8181; font-family: 'Dancing Script', cursive;">Venues</h1>
  <img class="text-center" src="./static/9/graphics/unknown.png" alt="">
  <p class="text-center fs-5 py-3" style="color: #888888;">Informations of Locations</p>
  <div class="row g-0 mx-auto text-center">
    <div class="col-lg-6 g-0 mx-auto col-12 bg-light mb-4" style="overflow: hidden;">
      <img class="img-fluid w-100" src="./static/9/graphics/place1.jpg" alt="">
    </div>
    <div class="col-lg-6 g-0 mx-auto col-12 bg-light mb-4">
      <h1 class=" display-3 pt-5 text-start px-5" style="color: #6b8181; font-family: 'Dancing Script', cursive;">The Reception</h1>
      <p class="text-start px-5" style="color: #888888;">________________</p>
      <p class="text-start mt-5 fw-bold fs-4 px-5" style="color: #f08080;">Gonna Be Huge!</p>
      <p class="text-start fs-4 px-5" style="color: #888888;">Taking into an account more than 300 guests that are gonna attend, we plan for a huge party!
        It will come with awesome live rock music, just as well as a DJ, delicious food and sparkling alcohol that’s all on us!</p>
    </div>
    <div class="col-lg-6 g-0 mx-auto col-12 bg-light">
      <h1 class=" display-3 pt-5 text-start px-5" style="color: #6b8181; font-family: 'Dancing Script', cursive;">The Church</h1>
      <p class="text-start px-5" style="color: #888888;">________________</p>
      <p class="text-start mt-5 fw-bold fs-4 px-5" style="color: #f08080;">It’s So Beautiful!</p>
      <p class="text-start fs-4 px-5" style="color: #888888;">The St. Michael’s church is one of the biggest Methodist churches in the local area.
        Considering how religious both of our families are we’re extra happy with this location for the ceremony!</p>
    </div>
    <div class="col-lg-6 g-0 mx-auto col-12 bg-light" style="overflow: hidden;">
      <img class="img-fluid w-100" src="./static/9/graphics/place2.jpg" alt="">
    </div>
  </div>
</div>






<!-- Honors -->
<div class="container-fluid text-center my-5 bg-image pb-5"
style="
  background: url('./static/9/graphics/design-bg.jpg') no-repeat fixed;
  background-size: cover;
  background-position: bottom;
  height: auto;
">
  <div class="py-5 text-center">
    <h2 class="pb-5 display-4  text-center " style="color: #6b8181; font-family: 'Dancing Script', cursive;">Maids Of Honor!</h2>
    <img class="text-center" src="./static/9/graphics/unknown.png" alt="">
    <p class="text-center fs-5 py-3" style="color: #888888;">Our best friends who will help us and we highly appreciate that!</p>
</div>
  <div class="row">
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 g-0">
      <img src="./static/9/graphics/bridesmaid1.jpg" alt="">
      <p class="text-center mt-5 fw-bold fs-2 new" style="color: #f08080;">Martina</p>
      <p class="text-center fs-5" style="color: #888888;">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Vivamus feugiat purus sed <br> tempus ornare.</p>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-6 col-12 g-0">
      <img src="./static/9/graphics/bridesmaid2.jpg" alt="">
      <p class="text-center mt-5 fw-bold fs-2 new" style="color: #f08080;">Ella</p>
      <p class="text-center fs-5" style="color: #888888;">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Vivamus feugiat purus sed <br> tempus ornare.</p>
    </div><div class="col-lg-4 col-md-4 col-sm-6 col-12 g-0">
      <img src="./static/9/graphics/bridesmaid3.jpg" alt="">
      <p class="text-center mt-5 fw-bold fs-2 new" style="color: #f08080;">Kelly</p>
      <p class="text-center fs-5" style="color: #888888;">Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Vivamus feugiat purus sed <br> tempus ornare.</p>
    </div>
  </div>
</div>
   




<!-- Moment -->
<div class="container-fluid text-center">
  <h1 class="mb-3 mt-5 fw-bold display-2 pt-5 text-center " style="color: #6b8181; font-family: 'Dancing Script', cursive;">Moments</h1>
  <img class="text-center" src="./static/9/graphics/unknown.png" alt="">
  <p class="pb-5 text-center">Beautiful Memories</p>
  <div class="row  ">
      <div class="img col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/9/graphics/gal1.jpg"  alt=""></div>
      <div class="img col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/9/graphics/gal2.jpg" alt=""></div>
      <div class="img col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/9/graphics/gal3.jpg" alt=""></div>
      <div class="img col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/9/graphics/gal4.jpg" alt=""></div>
      <div class="img col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/9/graphics/gal5.jpg" alt=""></div>
      <div class="img col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/9/graphics/gal6.jpg" alt=""></div>
      <div class="img col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/9/graphics/gal7.jpg" alt=""></div>
      <div class="img col-lg-3 col-md-6 col-sm-6 col-12 g-0"style="overflow: hidden"><img class="img-fluid"src="./static/9/graphics/gal8.jpg" alt=""></div>
  </div>
</div>


<div class="container my-5 text-center" id="services">
  <h1 class="text-center display-1 fw-bold" style="color: #6b8181; font-family: 'Dancing Script', cursive;">Gift Registry</h1>
  <img class="text-center" src="./static/9/graphics/unknown.png" alt="">
  <p class="text-center fs-5 py-3" style="color: #888888;">Thank You Friends!</p>
   <div class="row text-center ">
       <div class="col-lg-4 col-md-6 col-12"><img class="img-fluid" src="./static/9/graphics/gift1.jpg" alt="image-responsive">
       </div>
       <div class="col-lg-4 col-md-6 col-12"><img class="img-fluid" src="./static/9/graphics/gift2.jpg" alt="image-responsive"></div>
       <div class="col-lg-4 col-md-6 col-12"><img class="img-fluid" src="./static/9/graphics/gift3.jpg" alt="image-responsive"></div>
       <div class="col-lg-4 col-md-6 col-12"><img class="img-fluid" src="./static/9/graphics/gift6.jpg" alt="image-responsive"></div>
       <div class="col-lg-4 col-md-6 col-12"><img class="img-fluid" src="./static/9/graphics/gift4.jpg" alt="image-responsive"></div>
       <div class="col-lg-4 col-md-6 col-12"><img class="img-fluid" src="./static/9/graphics/gift5.jpg" alt="image-responsive"></div>
   </div>
</div>
<!-- contact us -->
<div class="container-fluid text-center my-5" id="contact" style="background-image: url('./grapics/background4.png');
    background-position: 100% 100%;" >
      <h1 class="mb-3 my-5 fw-bold display-2 pt-5 " style="color: #6b8181; font-family: 'Dancing Script', cursive;">Contact us</h1>
      <img class="text-center" src="./static/9/graphics/unknown.png" alt="">
     <p class="pb-4">In recent years, an alligator is an anthony’s event. We know that authors often misinterpret the package <br> as a cystoid puppy, when in actuality it feels more like a hefty brown. </p>
      <form style="width: 50%" class="mx-auto">
        <!-- Name input -->
        <div class="form-outline mb-4 mx-auto ">
          <input
            type="text"
            id="form4Example1"
            class="form-control"
            placeholder="Name"
            style="border: 2px solid #333333"
          />
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
          <input
            type="email"
            id="form4Example2"
            class="form-control"
            placeholder="Email address"
            style="border: 2px solid#333333;"
          />
        </div>

        <!-- Message input -->
        <div class="form-outline mb-4">
          <textarea
            class="form-control"
            id="form4Example3"
            rows="4"
            placeholder="Message"
            style="border: 2px solid #333333;"
          ></textarea>
        </div>

        <!-- Submit button -->
        <a
          class="btn btn-outline-light bg-dark btn-lg btnheader px-4 py-2"
          href="#!"
          role="button"
          style="color: #ffffff;"
          >Send me</a
        >
      </form>
      </div>
      {% endblock %} {%block footer %}
<footer class="container-fluid-fluid bg-dark">
    <div>
        <h2 class="py-5 fw-bold text-center display-6 bg-dark" style="color: #f08080;">Jason Thomas <img src="./static/9/graphics/heart.png" alt=""> Elaina Johnson</h2>
       
    </div>
    <div class="py-5 text-white" style="background-color: black;" >
        <p class="text-center
        ">Copyright &copy; 2018 Forever.Made With  By Fly Themes
        </p>
    </div>
    </footer>

    </div>
    {% endblock %}
