{% extends "default_user.html" %} {%block title%} Dashboard {% endblock %}
{%block content%}
<div class="mb-5">
  <div class="row py-2" style="background-color: #cecece">
    <div class="col-lg-4" style="background-color: #cecece; padding-right: 7px">
      <div class="card">
        <div class="row" style="border-radius: 0px !important">
          <div class="col-lg-12 px-5 py-3">
            <div class="row" style="border-bottom: 1px solid black">
              <div class="col-2"></div>
              <div class="col-8 text-center">Your Wedding Details</div>
              <div class="col-2 text-end">
                <a
                  style="color: #b98e7f; text-decoration: none"
                  href="/profile?setting=2"
                  value="0"
                  >Edit</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row px-5 py-3">
          <div class="col-6 mt-1">
            <div class="d-flex justify-content-center">
              <div
                style="
                  width: 25px;
                  height: 30px;
                  background: url('static/images/calendar.png') no-repeat;
                  background-size: 100%;
                "
              ></div>
              <span
                class="mx-2"
                style="font-family: SemiBold; color: rgb(166, 166, 166)"
                >Wedding Date</span
              >
            </div>
            <div
              class="d-flex justify-content-center"
              style="color: rgb(166, 166, 166)"
            >
              <label>{{session['dateOfMarriage']}}</label>
            </div>
          </div>
          <div class="col" style="font-family: Heading">
            <div class="d-flex justify-content-end">
              <div
                class="col-1"
                style="
                  width: 25px;
                  height: 35px;
                  background: url('static/images/location.png') no-repeat;
                  background-size: cover;
                  background-position: center;
                "
              ></div>
              <span
                class="mx-2"
                style="font-family: SemiBold; color: rgb(166, 166, 166)"
                >{{session['Address']}}</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="card mt-2 p-0" style="background-color: #fbf7f3">
        <div class="row" style="border-radius: 0px !important">
          <div class="col-lg-12 px-5 py-3">
            <div
              class="row py-3 px-0"
              style="
                border-bottom: 1px solid rgb(166, 166, 166);
                color: rgb(166, 166, 166);
              "
            >
              <div class="col-10">Wedding RSVPs Collected  (4 of 7)</div>
              <div class="col-2 text-end">
                <a
                  style="color: #b98e7f; text-decoration: none"
                  href="/profile?setting=2"
                  value="0"
                  >Edit</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="border-radius: 0px !important">
          <div class="col-lg-12 px-5 py-3">
            <div
              class="row pb-3 px-0"
              style="
                border-bottom: 1px solid rgb(166, 166, 166);
                color: rgb(166, 166, 166);
              "
            >
              <div class="col-10">Card Drafts Started (3)</div>
              <div class="col-2 text-end">
                <a
                  style="color: #b98e7f; text-decoration: none"
                  href="/profile?setting=2"
                  value="0"
                  >Edit</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="border-radius: 0px !important">
          <div class="col-lg-12 px-5 py-3">
            <div
              class="row pb-3 px-0"
              style="
                border-bottom: 1px solid rgb(166, 166, 166);
                color: rgb(166, 166, 166);
              "
            >
              <div class="col-10">Gifts Added({{session['registries']}})</div>
              <div class="col-2 mx-0 text-end">
                <a
                  style="color: #b98e7f; text-decoration: none"
                  href="/profile?setting=2"
                  value="0"
                  >Edit</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="border-radius: 0px !important">
          <div class="col-lg-12 px-5 py-3">
            <div
              class="row pb-3 px-0"
              style="
                border-bottom: 1px solid rgb(166, 166, 166);
                color: rgb(166, 166, 166);
              "
            >
              <div class="col-10">Guests Added ({{session['guests']}})</div>
              <div class="col-2 text-end">
                <a
                  style="color: #b98e7f; text-decoration: none"
                  href="/profile?setting=2"
                  value="0"
                  >Edit</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="border-radius: 0px !important">
          <div class="col-lg-12 px-5 py-3">
            <div
              class="row pb-3 px-0"
              style="
                
                color: rgb(166, 166, 166);
              "
            >
          
                <div class="col-10">Website Visible ?</div>
              
                <div class="col-2 d-flex justify-content-end">
               
                  <a href="/profile?setting=2" style="text-decoration: none;">
                    <div
                      style="
                        width: 25px;
                        height: 30px;
                        background: url('static/images/visible.png') no-repeat;
                        background-size: 100%;
                      "></div>
                      </a
              >
              </div>
                <div class="col-10">Preview Website</div>
                <div class="col-2 d-flex justify-content-end">
               
                  <a href="/profile?setting=2" style="text-decoration: none;">
                    <div
                      style="
                        width: 25px;
                        height: 30px;
                        background: url('static/images/preview-tab.png') no-repeat;
                        background-size: 100%;
                      "></div>
                      </a
              >
              </div>
                <div class="row px-0 mt-3">
            
             <div class="col-lg-9">
               
             </div>
             <button class="col-lg-3 btn text-white" style="border: 1px solid #ceb08d
;             background-color:#e4d3c0
             "> Share</button></div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <div
        class="col-lg-8 p-4"
        style="
          background-image: url('static/images/dashboard-background.png');
          background-size: cover;
          background-color: white;
          background-position: center;
        "
      >
        <div class="mx-auto">
          <div class="text-center mt-5" style="color: #d1b594">
            <h1 style="font-size: xxx-large">
              {{session['groomFirstName']}} & {{session['brideFirstName']}}'s
              Wedding
            </h1>
          </div>
          <div class="text-center mt-5">
            <h1 style="font-size: xxx-large">48 days to go!</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
